@media screen and (max-width: 1024px) {
  .header {
    padding: 0 40px 0 40px;
  }
  .header__download {
    margin-left: 23px;
  }
  .header__menu__link:not(:first-child) {
    margin-left: 64px;
  }
  .info__tittle {
    font-size: 50px;
    line-height: 76px;
  }
  .info__p {
    font-size: 14px;
  }
  .info__text {
    margin-bottom: 26px;
  }
  .quick__info {
    background-position: 200px;
  }
  .main {
    background-image: url("img/block2_1024.png");
    background-size: 104% 105%;
  }
  .about__container {
    padding: 210px 0;
  }
  .cryptocurrency__tittle {
    font-size: 40px;
    line-height: 61px;
  }
  .block__3 {
    background-image: url("img/graphic__block3__1024.png");
    background-position: right 0% bottom 35%;
  }
  .block3__p {
    font-size: 14px;
    line-height: 13px;
  }
  .addvantages {
    background: url("img/block__4__1024.png");
    align-items: center;
    background-repeat: no-repeat;
    background-position: top 19px left -25px;
  }
  .addvantages__center__title {
    font-size: 30px;
    line-height: 28px;
    width: 105%;
    height: 0%;
  }
  .avantis {
    font-size: 30px;
    line-height: 46px;
  }
  .trust {
    font-size: 30px;
    line-height: 46px;
  }
  .right__1 {
    margin-bottom: 6px;
  }
  .right__2 {
    margin-bottom: 40px;
    margin-left: 56px;
  }
  .left__1 {
    margin-bottom: 57px;
  }
  .left__2 {
    margin-bottom: 67px;
  }
  .left__2__p {
    max-width: 184px;
  }
  .plan {
    margin-bottom: 78px;
  }
  .plan__title {
    margin-bottom: 28px;
  }
  .plan__text {
    font-size: 40px;
    line-height: 38px;
  }
  .plan__terms {
    font-size: 22px;
    line-height: 21px;
    padding-right: 64px;
  }
  .plan .plan__two, .plan .plan__three, .plan .plan__four {
    padding-left: 16px;
  }
  .avantis__block5 {
    font-size: 40px !important;
    line-height: 61px !important;
  }
  .tools__title {
    font-size: 40px;
    line-height: 38px;
    max-width: none;
  }
  .tools__box {
    background-image: url("img/block7__1024.png");
    background-position: 39% -16%;
  }
  .tools__top {
    padding-bottom: 115px;
  }
  .tools__right {
    padding: 45px 0 0 0;
  }
  .benefits__title {
    font-size: 50px;
    line-height: 47px;
  }
  .benefits__p {
    font-size: 14px;
    line-height: 21px;
  }
  .basic__box, .standart__box, .premium__box {
    padding: 20px 9px 15px 10px;
  }
  .vip__box {
    padding: 20px 6px 15px 10px;
  }
  .graphic__title {
    font-size: 22px;
    line-height: 21px;
  }
  .referal__scheme__title {
    font-size: 20px;
    line-height: 19px;
    padding: 3px 16px 10px 16px;
  }
  .referal__graphic__box {
    margin: 52px 0 0 25px;
  }
  .partner__scheme__title {
    font-size: 20px;
    line-height: 19px;
  }
  .partner__graphic__box {
    margin-right: 25px;
  }
  .bonus__graphic__box {
    margin-left: 20px;
  }
  .benefits__box {
    background-image: url("img/bg_block7__1024.png");
  }
  .product__block:nth-child(1) {
    margin-right: 59px;
  }
  .product__block:not(:nth-child(1)) {
    margin-right: 134px;
  }
}

@media screen and (max-width: 768px) {
  .header__menu {
    display: none;
  }
  .header__extra {
    display: none;
  }
  .burger__menu__box {
    display: block;
    cursor: pointer;
  }
  .header {
    background-image: url("img/background_header__768.png");
  }
  .quick__info {
    background-image: url("img/phones_768.png");
    background-position: 88px -70px;
    background-size: contain;
    padding-bottom: 30px;
  }
  .download__info {
    font-size: 12px;
    line-height: 12px;
  }
  .app-store_768 {
    display: block;
    margin-bottom: 6px;
  }
  .google-play__768 {
    display: block;
  }
  .google-play,
  .app-store,
  .qr {
    display: none;
  }
  .qr__768 {
    display: block;
  }
  .info__p {
    display: none;
  }
  .info__p__768 {
    display: block;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #B6B6DD;
  }
  .download__container {
    margin-bottom: 135px;
  }
  .main {
    background-image: url("img/block2_768.png");
    background-size: 104% 105%;
  }
  .about__p {
    font-size: 14px;
    line-height: 13px;
  }
  .about__tittle {
    font-size: 30px;
    line-height: 15px;
  }
  .about__tittle .span1,
  .about__tittle .span2 {
    font-size: 30px;
    line-height: 46px;
  }
  .block3__p {
    display: none;
  }
  .block3__p__768 {
    display: block;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    color: #B6B6DD;
    padding-left: 20px;
  }
  .addvantages {
    display: none;
  }
  .addvantages__768 {
    margin-bottom: 86px;
    display: block;
    background: url("img/block__4__768.png");
    background-repeat: no-repeat;
    background-position: -20% 22%;
  }
  .addvantages__768__left1 {
    max-width: 300px;
  }
  .addvantages__768__right1 {
    max-width: 305px;
  }
  .addvantages__768__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 39px;
  }
  .addvantages__768__box {
    display: flex;
    align-items: flex-start;
  }
  .addvantages__768__text {
    margin-left: 19px;
  }
  .addvantages__768__text h1 {
    margin-bottom: 9px;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    color: #FFFFFF;
  }
  .addvantages__768__text p {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #B6B6DD;
  }
  .addvantages__768__img {
    background: radial-gradient(119.49% 119.49% at 2.96% 5.05%, rgba(101, 101, 121, 0.8) 0%, rgba(40, 40, 57, 0.8) 100%);
    box-shadow: 0px 4px 49px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(21px);
    border-radius: 6px;
    padding: 8px;
  }
  .addvantages__768__center {
    display: flex;
    justify-content: center;
    margin-bottom: 159px;
  }
  .addvantages__768__center p {
    font-weight: 400;
    font-size: 24px;
    line-height: 95%;
    color: #FFFFFF;
    padding-left: 27px;
    border-left: 4px solid #D46BFE;
  }
  .addvantages__768__bottom {
    display: flex;
  }
  .addvantages__768__left2 {
    margin-right: 83px;
  }
  .trust {
    line-height: 37px;
    font-size: 24px;
  }
  .transparency__box {
    margin-bottom: 50px;
  }
  .operations__box {
    margin-bottom: 18px;
  }
  .risk__img {
    padding: 7px 6px 7px 6px;
  }
  .operations__img,
  .transparency__img,
  .analysts__img {
    padding: 8px;
  }
  .interface__img {
    padding: 6px 9px 6px 10px;
  }
  .transaction__img {
    padding: 2px 3px 3px 4px;
  }
  .plan__text {
    font-size: 30px;
    line-height: 28px;
  }
  .plan__title {
    padding-left: 17px;
  }
  .plan__terms {
    font-size: 14px;
    line-height: 13px;
  }
  .plan__p {
    font-size: 14px;
    line-height: 13px;
  }
  .avantis__block5 {
    font-size: 30px !important;
    line-height: 46px !important;
  }
  .plan__two, .plan__three, .plan__four, .plan__one {
    padding: 5px 46px 5px 15px;
  }
  .calculate__right {
    background-position: top 236px left 0;
  }
  .calculate__left {
    padding: 13px 17px;
    margin-right: 17px;
  }
  .calculate__title {
    font-size: 20px;
    line-height: 19px;
    margin-bottom: 27px;
  }
  .calculate__top__text {
    font-size: 16px;
    line-height: 15px;
  }
  .calculate__amount__input {
    padding: 10px 15px;
  }
  .calculate__amount p {
    font-size: 12px;
    line-height: 12px;
  }
  .calculate__range__price {
    font-size: 20px;
    line-height: 19px;
  }
  .calculate__range__btn {
    padding: 17px 77px;
  }
  .calculate__right__per p {
    font-size: 20px;
    line-height: 19px;
  }
  .calculate__right__per p span {
    font-size: 16px;
    line-height: 15px;
  }
  .calculate__right__daily h1 {
    font-size: 50px;
    line-height: 48px;
  }
  .options label {
    font-size: 14px;
    line-height: 13px;
    padding: 11px 0;
    width: 32%;
  }
  .options input[type="radio"] {
    width: 88.39px;
    height: 37px;
  }
  .tools__title {
    font-size: 30px;
    line-height: 28px;
  }
  .tools__text p {
    font-size: 14px;
    line-height: 13px;
  }
  .tools__box {
    background: url("img/block7__768.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 221px;
  }
  .tools__text {
    margin-bottom: 35px;
  }
  .tools__top {
    padding-bottom: 44px;
  }
  .benefits__title {
    font-size: 30px;
    line-height: 28px;
    padding-left: 17px;
  }
  .benefits__p {
    font-size: 12px;
    line-height: 18px;
    padding-left: 17px;
  }
  .basic__box, .standart__box, .premium__box {
    padding: 10px 8px 7px 4px;
    margin-right: 3px;
  }
  .graphic__p {
    font-size: 12px;
    line-height: 8px;
  }
  .graphic__p__title {
    font-size: 16px;
    line-height: 15px;
  }
  .standart__title {
    margin-bottom: 17px;
  }
  .basic__title {
    margin-bottom: 9px;
  }
  .premium__title {
    margin: 10px 0 27px 0;
  }
  .vip__title {
    margin-bottom: 51px;
  }
  .vip__box {
    padding: 20px 8px 7px 4px;
  }
  .referal__graphic__box {
    margin: 7px 0 0 25px;
  }
  .referal__scheme__title {
    font-size: 14px;
    line-height: 13px;
    padding: 3px 13px 10px 13px;
  }
  .referal__scheme__p {
    font-size: 14px;
    line-height: 13px;
  }
  .partner__scheme__title {
    font-size: 14px;
    line-height: 13px;
    padding: 2px 2px;
  }
  .partner__scheme__p {
    font-size: 14px;
    line-height: 13px;
  }
  .partner__graphic__box {
    margin-right: 61px;
  }
  .bonus__scheme__title {
    font-size: 14px;
    line-height: 13px;
    padding: 4px 11px;
  }
  .bonus__scheme__p {
    font-size: 14px;
    line-height: 13px;
    padding: 6px 0;
  }
  .product__title {
    font-size: 22px;
    line-height: 21px;
    margin-bottom: 24px;
  }
  .product__link {
    font-size: 12px;
    line-height: 12px;
  }
  .product__block:not(:nth-child(1)) {
    margin-right: 65px;
  }
  .contacts__text {
    font-size: 12px;
    line-height: 12px;
  }
  .copyright {
    font-size: 12px;
    line-height: 14px;
  }
  .cryptocurrency__proccent__768 {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 147px 147px;
    grid-template-rows: 21px 11px 74px 47px 10px;
    grid-column-gap: 7px;
    grid-row-gap: 9px;
    grid-template-areas: "first ." "first secon" "first second" "first second" "third second" "third fourth" "third fourth" ". fourth";
  }
  .cryptocurrency__tittle {
    font-weight: 400;
    font-size: 30px;
    line-height: 46px;
    color: #FFFFFF;
    padding-left: 21px;
  }
  .cryptocurrency__block__768 {
    display: block;
  }
  .cryptocurrency__block {
    display: none;
  }
  .proccent__block__top__768 {
    margin-bottom: 5px;
  }
  .proccent__block__768 {
    padding: 12px 7px 11px 7px;
    background: radial-gradient(119.49% 119.49% at 2.96% 5.05%, rgba(101, 101, 121, 0.8) 0%, rgba(40, 40, 57, 0.8) 100%);
    box-shadow: 0px 4px 49px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    backdrop-filter: blur(21px);
  }
  .proccent__block__middle__768 {
    background: #262637;
    box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.15), inset 2px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-bottom: 6px;
  }
  .block__middle__text__768 h1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
  }
  .block__middle__text__768 h1 span {
    font-size: 40px;
    line-height: 61px;
  }
  .block__bottom__text__768 p {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #B6B6DD;
  }
  .block__3 {
    background: url("img/graphic__block3__768.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
  }
  .addvantages__container {
    display: none;
  }
  .quick__info {
    flex-direction: column;
  }
  .addvantages__box__768 {
    display: flex;
    justify-content: center;
  }
  .addvantages__container__768 {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    gap: 7px;
  }
}

@media screen and (max-width: 552px) {
  .referal__container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .partner__container {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .partner__graphic__box {
    margin-right: 0;
  }
  .benefits__text__box {
    margin-bottom: 16px;
  }
  .bonus__container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__info__box {
    flex-wrap: wrap;
  }
  .product__box {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 460px) {
  .addvantages__box {
    padding: 11px 10px;
  }
  .addvantages__768 {
    background-position: 41% 91px;
  }
  .addvantages__768__bottom {
    flex-wrap: wrap;
  }
  .addvantages__768__top {
    flex-wrap: wrap;
  }
  .addvantages__768__box {
    margin-bottom: 20px;
  }
  .addvantages__768__center {
    margin-bottom: 50px;
  }
  .plans {
    overflow-x: auto;
  }
  .calculate__left {
    width: 100%;
    margin-bottom: 11px;
    margin-right: 0;
  }
  .calculate__bolck {
    flex-wrap: wrap;
  }
  .calculate__right__box {
    width: 100%;
  }
  .tools__box {
    flex-direction: column;
    padding-bottom: 59px;
  }
  .tools__right {
    padding: 309px 0 0 0;
  }
  .plan__two, .plan__three, .plan__four, .plan__one {
    padding: 5px 0px 5px 13px;
  }
  .plan__one {
    padding: 12px 0px 11px 0;
  }
  .plan__one .plan__p {
    padding: 12px 0 9px 0px;
  }
  .plan__p__768 {
    padding: 12px 0 9px 13px;
  }
  .procent {
    grid-row: 6/5;
  }
  .procent h1 {
    font-size: 30px;
    line-height: 46px;
  }
  .start {
    grid-row: 1/4;
  }
  .auto__work {
    grid-column: -4/-3;
  }
  .addvantages__container__768 {
    grid-template-columns: none;
  }
  .graphic__title {
    font-size: 16px;
    line-height: 15px;
  }
  .referal__scheme__p {
    padding: 9px 15px 10px 15px;
  }
  .referal__scheme__title {
    padding: 3px 10px 10px 10px;
  }
  .referal__graphic__box {
    margin: 0;
  }
  .addvantages__768__left2 {
    margin-right: 0;
  }
}

@media screen and (max-width: 320px) {
  .quick__info {
    background-image: url("img/phones_320.png");
    background-repeat: no-repeat;
    background-position: 10px 120px;
    padding-bottom: 0;
  }
  .info__tittle {
    font-size: 40px;
    line-height: 61px;
  }
  .info__p__768 {
    display: none;
  }
  .info__p__320 {
    display: block;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #B6B6DD;
  }
  .info__text {
    margin-bottom: 341px;
  }
  .header {
    padding: 0 10px;
    background-image: url("img/background_header__320.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 225px;
  }
  .download__container {
    margin-bottom: 41px;
  }
  .cross {
    margin: 27px 9px;
  }
  .main {
    background: url("img/block2_320.png");
  }
  .about__p {
    font-size: 12px;
    line-height: 12px;
  }
  .about__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .cryptocurrency__market {
    flex-direction: column;
    margin-bottom: 50px;
  }
  .cryptocurrency__tittle {
    line-height: 32px;
  }
  .cryptocurrency__text {
    margin-bottom: 6px;
  }
  .block3__p__768 {
    display: none;
  }
  .block3__p__320 {
    display: block;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 13px;
    color: #B6B6DD;
    padding-left: 24px;
  }
  .block__3,
  .block__4,
  .block__5,
  .block__6,
  .block__7 {
    padding: 0 10px;
  }
  .plan__two, .plan__three, .plan__four, .plan__one {
    padding: 12px 17px 11px 14px;
  }
  .plan__one {
    padding: 12px 46px 11px 0px;
  }
  .plan__terms {
    white-space: nowrap;
  }
  .plan__p__768 {
    padding: 12px 0 9px 20px;
  }
  .referal__container {
    margin-bottom: 189px;
  }
  .partner__container {
    margin-bottom: 120px;
  }
  .benefits__box {
    background-image: url("img/bg_block7__320.png");
  }
  .copyright p {
    font-size: 12px;
    line-height: 14px;
  }
}
